absl-py
accelerate
addict
aiohappyeyeballs
aiohttp
aiosignal
airportsdata
alembic
annotated-types
antlr4-python3-runtime
anyio
astor
asttokens
attrs
audioread
av
babel
beautifulsoup4
blake3
blis
braceexpand
cachetools
catalogue
cbor
certifi
cffi
charset-normalizer
click
cloudpathlib
cloudpickle
cmake
colorama
coloredlogs
colorlog
compressed-tensors
confection
contourpy
csvw
ctranslate2
cuda-bindings
cuda-python
curated-tokenizers
curated-transformers
cycler
cymem
Cython
cytoolz
datasets
decorator
depyf
dill
diskcache
Distance
distro
dlinfo
dnspython
docopt
editdistance
einops
email_validator
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
espeakng-loader
executing
faiss-cpu
fastapi
fastapi-cli
faster-whisper
ffmpeg
fiddle
filelock
FlagEmbedding
flatbuffers
fonttools
form
frozenlist
fsspec
future
g2p-en
gevent
gguf
gguf-parser
gitdb
GitPython
googleapis-common-protos
graphviz
greenlet
grpcio
h11
hf-xet
httpcore
httptools
httpx
huggingface-hub
humanfriendly
hydra-core
idna
ijson
importlib_metadata
inflect
iniconfig
inscriptis
interegular
intervaltree
ipython
ipython_pygments_lexers
ir_datasets
isodate
jedi
Jinja2
jiter
jiwer
joblib
jsonschema
jsonschema-specifications
kaldi-python-io
kaldiio
kiwisolver
kokoro
langcodes
language-tags
language_data
lark
lazy_loader
Levenshtein
lhotse
libcst
librosa
lightning
lightning-utilities
lilcom
llama-cpp-python
llvmlite
lm-format-enforcer
logging
loguru
lxml
lz4
Mako
marisa-trie
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mediapy
misaki
mistral_common
chatterbox-tts
more-itertools
mpmath
msgpack
msgspec
multidict
multiprocess
murmurhash
nemo-toolkit
nest-asyncio
networkx
ninja
nltk
num2words
numba
numpy
nvidia-ml-py
oauthlib
omegaconf
onnx
onnxruntime
openai
openai-whisper
opencv-python
opencv-python-headless
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-semantic-conventions-ai
optuna
outlines
outlines_core
packaging
pandas
parso
partial-json-parser
pathspec
pd
peft
phonemizer-fork
pillow
plac
platformdirs
pluggy
pooch
preshed
prometheus-fastapi-instrumentator
prometheus_client
prompt_toolkit
propcache
protobuf
psutil
pure_eval
py-cpuinfo
pyannote.core
pyannote.database
pyannote.metrics
pyarrow
pybind11
pycountry
pycparser
pydantic
pydantic_core
pydub
Pygments
pyloudnorm
pynvml
pyparsing
pyproject-metadata
pyreadline3
PySide6
PySide6_Addons
PySide6_Essentials
pytest
python-dateutil
python-dotenv
python-json-logger
python-multipart
python-rtmidi
pytorch-lightning
pytz
pywin32
PyYAML
pyzmq
qwen-vl-utils
RapidFuzz
rdflib
referencing
regex
requests
requests-oauthlib
resampy
rfc3986
rich
rich-toolkit
rpds-py
ruamel.yaml
ruamel.yaml.clib
sacremoses
safetensors
scikit-learn
scikit_build_core
scipy
segments
sentence-transformers
sentencepiece
sentry-sdk
setproctitle
setuptools
shellingham
shiboken6
six
smart-open
smmap
sniffio
sortedcontainers
sounddevice
soundfile
soupsieve
sox
soxr
spacy
spacy-curated-transformers
spacy-legacy
spacy-loggers
sphn
SQLAlchemy
srsly
stack-data
starlette
sympy
tabulate
tensorboard
tensorboard-data-server
termcolor
text-unidecode
texterrors
thinc
threadpoolctl
tiktoken
tokenizers
toolz
torch
torchaudio
torchmetrics
torchvision
tqdm
traitlets
transformers
trec-car-tools
tweepy
typeguard
typer
typing-inspection
typing_extensions
tzdata
ultralytics
ultralytics-thop
unlzw3
uritemplate
urllib3
uvicorn
wandb
warc3-wet
warc3-wet-clueweb09
wasabi
watchfiles
wcwidth
weasel
webdataset
websockets
Werkzeug
wget
wheel
whisper
win32_setctime
wrapt
xxhash
yarl
zipp
zlib-state
zope.event
zope.interface
